@font-face {
	font-family: "Meslo LG M Regular Nerd";
	src: url("https://raw.githubusercontent.com/dguerri/chromebook-stuff/main/fonts/Meslo%20LG%20M%20Regular%20Nerd%20Font%20Complete%20Mono.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
